type hal_light_x80power, domain;
hal_server_domain(hal_light_x80power, hal_light)

type hal_light_x80power_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_light_x80power)
