service vendor.kernel-modules /vendor/bin/modprobe -a -d /vendor/lib/modules \
    snd_hdmi_lpe_audio \
    i915 \
    intel_rapl \
    intel_powerclamp \
    coretemp \
    kvmgt \
    vfio_mdev \
    mdev \
    vfio_iommu_type1 \
    vfio \
    punit_atom_debug \
    snd_soc_sst_byt_cht_es8316 \
    kvm \
    crct10dif_pclmul \
    crc32_pclmul \
    ghash_clmulni_intel \
    axp288_fuel_gauge \
    axp288_adc \
    irqbypass \
    axp20x_pek \
    industrialio \
    cmdlinepart \
    axp288_charger \
    extcon_axp288 \
    intel_spi_platform \
    drm_kms_helper \
    intel_spi \
    joydev \
    spi_nor \
    mtd \
    gpio_keys \
    aesni_intel \
    drm \
    hci_uart \
    aes_x86_64 \
    crypto_simd \
    btqca \
    cryptd \
    btrtl \
    glue_helper \
    btbcm \
    i2c_algo_bit \
    fb_sys_fops \
    intel_cstate \
    btintel \
    syscopyarea \
    bluetooth \
    sysfillrect \
    sysimgblt \
    ecdh_generic \
    snd_intel_sst_acpi \
    snd_intel_sst_core \
    snd_soc_es8316 \
    snd_soc_sst_atom_hifi2_platform \
    nls_iso8859_1 \
    snd_soc_acpi_intel_match \
    snd_soc_acpi \
    snd_soc_core \
    intel_xhci_usb_role_switch \
    r8723bs \
    roles \
    snd_compress \
    ac97_bus \
    snd_pcm_dmaengine \
    snd_pcm \
    snd_timer \
    mei_txe \
    extcon_intel_int3496 \
    axp20x_i2c \
    cfg80211 \
    snd \
    mei \
    intel_hid \
    processor_thermal_device \
    soundcore \
    lpc_ich \
    axp20x \
    goodix \
    sparse_keymap \
    intel_atomisp2_pm \
    intel_soc_dts_iosf \
    soc_button_array \
    spi_pxa2xx_platform \
    int3403_thermal \
    int3406_thermal \
    int3400_thermal \
    dw_dmac \
    intel_int0002_vgpio \
    int340x_thermal_zone \
    8250_dw \
    acpi_thermal_rel \
    dw_dmac_core \
    mac_hid \
    acpi_pad \
    sch_fq_codel \
    ip_tables \
    x_tables \
    autofs4 \
    btrfs \
    hid_generic \
    usbhid \
    hid \
    xor \
    zstd_compress \
    raid6_pq \
    libcrc32c \
    dwc3 \
    ulpi \
    mmc_block \
    udc_core \
    dwc3_pci \
    video \
    sdhci_acpi \
    sdhci
    oneshot
    class early_hal
    seclabel u:r:vendor_modprobe:s0



