service vendor.kernel-modules /vendor/bin/modprobe -a -d /vendor/lib/modules \
    i915 \
    i2c_hid \
    hid_multitouch \
    mwifiex_pcie \
    surfacepro3_button \
    snd_hda_intel snd_hda_codec
    oneshot
    class early_hal
    seclabel u:r:vendor_modprobe:s0
