on early-init
    mount debugfs none /sys/kernel/debug mode=0755

    # Needed to fix "Permission Denied" error when using webview
    chmod 0222 /sys/kernel/debug/tracing/trace_marker

on fs && property:ro.boot.external=*
    mkdir /mnt/vendor/boot

